---
import Section from "../Section.astro"
import { skills } from "@cv"
---

<Section title="Skills">
  <div class="skills-container">
    {
      Object.entries(skills).map(([category, categorySkills]) => {
        return (
          <div class="category">
            <h3>{category}</h3>
            <ul>
              {
                categorySkills.map(({ name }) => {
                  return (
                    <li>
                      <span>{name}</span>
                    </li>
                  )
                })
              }
            </ul>
          </div>
        )
      })
    }
  </div>
</Section>

<style>
  .skills-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .category {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .category h3 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #2e2f31;
    margin-bottom: 4px;
  }

  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  li {
    align-items: center;
    background: #d6dbd9;
    border: 1px solid #2e2f31;
    border-radius: 6px;
    color: #2e2f31;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
