---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ProjectSection from "../components/ProjectSection.astro";
---

<Layout>
  <main
    class="w-full h-min-screen flex flex-col justify-center items-center gap-12"
  >
    <HeroSection />
    <ProjectSection />
  </main>
</Layout>

<style></style>
