---
import Layout from "../layouts/Layout.astro";
import devEnvironment from "../assets/dev-environment.svg";
import meditation from "../assets/meditation.svg";
import music from "../assets/music.svg";
import HeroSection from "../components/HeroSection.astro";
---

<Layout>
  <main class="w-full h-full flex flex-col justify-around items-center gap-12">
    <HeroSection />
  </main>
</Layout>

<style></style>
