---
import Layout from "../layouts/Layout.astro";
import devEnvironment from "../assets/dev-environment.svg";
import meditation from "../assets/meditation.svg";
import music from "../assets/music.svg";
import HeroSection from "../components/HeroSection.astro";
import Project from "../components/Project.astro";
---

<Layout>
  <main
    class="w-full h-min-screen flex flex-col justify-around items-center gap-12"
  >
    <HeroSection />
    <Project />
  </main>
</Layout>

<style></style>
