---
import Project from "./Project.astro";

const projects = [
  // {
  //   title: "SMBMarket",
  //   description:
  //     "A business listings aggregator & acquisition management platform.",
  //   imageName: "smbmarket.png",
  //   tags: ["Client Project", "Full Stack"],
  //   technologies: [
  //     "ReactJs",
  //     "NextJs",
  //     "Supabase",
  //     "ExpressJs",
  //     "Drizzle ORM",
  //     "Bootstrap",
  //     "Cloudflare",
  //     "Gemini",
  //   ],
  //   liveUrl: "https://smbmarket.com",
  // },
  // {
  //   title: "BeMySearch",
  //   description: "An AI Powered Product Recommendation Engine",
  //   imageName: "bemysearch.png",
  //   tags: ["AI", "Full Stack"],
  //   technologies: [
  //     "SvelteJs",
  //     "TailwindCSS",
  //     "HonoJs",
  //     "Drizzle ORM",
  //     "PostgreSQL",
  //     "Python",
  //   ],
  //   liveUrl: "https://bemysearch.com",
  // },
  {
    title: "Personal Website",
    description: "My personal website built with AstroJs",
    imageName: "personal-website.png",
    tags: ["Static Site"],
    technologies: ["AstroJs", "TailwindCSS"],
    liveUrl: "https://niravjoshi.dev",
  },
];
---

<section id="projects" class="w-full min-h-screen bg-gray-50 py-20">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-12">My Projects</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {projects.map((project) => <Project {...project} />)}
    </div>
  </div>
</section>
