<nav
  class="fixed top-0 z-50 py-6 w-full h-16 bg-white/30 backdrop-blur-sm flex flex-row justify-between items-center px-12 border-b border-white/10"
>
  <a href="/" class="flex flex-row gap-2 items-center">
    <h1 class="text-2xl font-bold text-green-600">N.</h1>
  </a>

  <div class="flex flex-row gap-4 items-center">
    <a
      href="#"
      class="text-sm font-light hover:font-medium transition-colors duration-200"
      >About</a
    >
    <a
      href="#projects"
      class="text-sm font-light hover:font-medium transition-colors duration-200"
      >Projects</a
    >
    <a
      href="mailto:niravjoshi3000@gmail.com"
      class="text-sm font-light hover:font-medium transition-colors duration-200"
      >Contact</a
    >

    <a
      href="/nirav_joshi_resume.pdf"
      target="_blank"
      class="text-sm font-light hover:font-medium transition-colors duration-200 text-green-600"
    >
      Download Resume
    </a>
  </div>
</nav>
